@media screen and (max-width: 767px) {
	#cont_nav{
		border: px solid red;
		width:100%;
		height: auto;
	}
	#logbox{
		width:100%;
		@include contcent;		
	}
	#navbar{
		width: 100%;
		@include contcent;
		#nav1{
			ul{

				li{
					width: 100%;
					height: 30px;
					margin-top: 0%;
					a{
						border: 1px solid $prm_color3;
						width: 64%;
						height: 30px;
						margin-left: -35%;
						border-radius:$bdr-rds1;
						position: absolute;
						&:hover{
							background-color: $prm_color2;
							border: 1px solid $prm_color1;
							box-shadow:$bdr-shdw2;
						}	
					}
				}
			}
		}
	}
	#srvc_cats{
		border: px solid red;
		#srvc_cat_1{
			border: px solid green;
			width: 90%;
		}
	}
	#Our_Prod{
		width: 80%;
		margin: auto;
		display: block;
	}
	#footer{
		border: px solid red;
		#imp_links{
			border: px solid red;
			#footer_right{
				border: px solid red;
				margin-left: 0%;
			}			
		}
	}



}
